#  Deciphering Key Influences on Restaurant Success within Uber Eats

![unnamed.png]()

Team Members: Annie Chien, Han Nga Chan, Sahasra Konkala, Sofia Lopez Somohano, Saumya Anand, Jose Salerno
________________________________________________________________________________

# Table of Contents


> 1. Project Proposal


> 2. Description of Data


> 3. Introduction & Motivation


> 4. Importance of the Project


> 5. Data Source


> 6. Report Summary


> 7. Exploratory Phase

                7.1   Pre Data Cleaning
                    - Merging of DataFrames

                7.2   Data Cleaning
                    - Removal of Unwanted Characters
                    - Enhancing Data Organization
                    - Handling Missing Values and Creating Target Variables

                7.3   Correlation Matrix
                

> 8. Visualizations


> 9. Summary of key observations



> 10. Challenges and Limitation of our Dataset




> 11. Conclusions



> 12. References

# 1. Project Proposal
_____________________________________________________________

**Executive Summary:**

Our analysis of Uber Eats data is geared towards extracting valuable insights into customer preferences within the food industry. We do this by closely examining restaurants menu pricing, ratings, ethnic category, location, and other factos. By doing so, we aim to provide tailored recommendations to improve their market positioning and increase overall profits.

This examination allows us to find trends and patterns in the culinary landscape. Ultimately, our objective is to offer actionable recommendations to redefine the restaurants strategies and to boost their presence on the Uber Eats platform.
>

**Problem:**

In this project, our primary objective is to provide strategic recommendations to clients who are either planning to establish a new restaurant chain or seeking to improve the performance of their existing restaurants. We are confronted with a pervasive issue in the restaurant industry where profit margins range from 3-5%. Our analysis is geared towards examining the current landscape of Uber Eats and uncovering innovative strategies that can enable restaurant businesses to enhance their attractiveness to new and existing customers while driving higher profits.

## 2. Description of Data
_____________________________________________________________

The primary dataset utilized in this analysis has information on various restaurants spread across the United States. Data sources were obtained through web scraping collected using Python libraries and the Uber Eats website.

Initially, the restaurant dataset comprised of 55,227 rows, while the menus dataset comprised of 4,450,099 rows.

Here we explain all the variables we utilized to create our analysis and other variables we decide to develop to help maximize our insights.

There are 2 datasets - Restaurants dataset, and the Menus dataset.
We explain briefly all the variables we utilized in the analysis and exclude the ones that were not considered for our analysis.


> **Restaurant Dataset:**

    - Restaurant ID: Composed of the Identification of all restaurants

    - Position: Exhibits the positioning on the search result of the restaurant according to their food category

    - Name: Restaurant name

    - Score: This variable extends on a scale of 1 to 5 on the restaurants quality

    - Ratings: Amount of reviews the restaurant acquired from customer experiences

    - Category: Category of the Restaurant (Type of food sold)

    - Price Range: Price Range is depicted by $.
        '$' = Inexpensive
        '$$' = Moderately Expensive
        '$$$' = Expensive
        '$$$$' = Very Expensive

    - Full Address: Restaurants location

    - Zip Code: Zip codes of the restaurants

    - Lat: Latitude

    - Long: Longtitude





> **Menus Dataset:**

    - Restaura ID: Composed of the Identification of all restaurants

    - Category: Restaurants food category

    - Name: Represents the name of the menu item

    - Description: Represents the menu item descriptions

    - Price: Price per menu item
    

> **Columns Created:**

    - Price_of_item_mean: This column was created by finding the average of all the prices that each unique restaurants offered to then classify them in three distinct categories.
            (Cheap prices, Average prices, and High-end prices)

    - State: This column was created by removing the states from the full_address column.

    - Region: This column was created by arranging all the 50 states according to their geographical region and assigning them to their corresponding group.

    - Number of Dishes: This column counted the number of dishes each restaurant offered from the menus dataset.


**Basic Information:**

Exploration of missing values and the process undertaken to deal with them is found in the section 6.1, but as a summary, here are some basic facts:

- Restaurants Dataset:
    - 55227 rows x 11 columns
    - Missing values per columns:
        - score: 24382
        - ratings: 24382
        - category: 54
        - price_range: 9504
        - full_address: 396
        - zip_code: 429
    
- Menus Dataset:
    - 4450099 rows x 5 columns
    - Missing values per columns:
        - name: 3
        - description: 1265727

# 3. Introduction & Motivation
_____________________________________________________________

Our restaurant clients have reached out seeking our assistance. They seek to increase their customer base and improve their visibility on the Uber Eats App. Our clientele comprises a wide variety of restaurants spread across the United States. By studying their demographic locations, we plan on helping restaurants acquire a deep knowledge of the customers in their regions and their preferences when it comes to food variety. Restaurants in the Uber Eats App are placed in different search positions; we plan on understanding what makes some restaurants be placed at the top of the page and what makes others be placed at the bottom. This analysis will allow us to help out our clients suffering from visibility in the App. Ultimately, we plan on creating a game plan for all the restaurants per region on what food items they should include in their restaurants, which would drive more customer engagement.

 **Motivation**:

In [ ]:
def data_driven_restaurant_revolution():
    print('Welcome to the Restaurant Analysis!')
    print('We are on a mission to boost restaurants success by diving deep into their data!')
    print('We are about to unearth the secrets of restaurants success')
    print('We wont stop here! We are going to uncover the secrets of customer preferences within the food industry!')
    print('This project is like a treasure hunt through the Uber Eats Data, we are equipped with the sharpest tools to extract valuable insights')
    print('')

    print('')
    print("Analysis plan:")
    print('1. Dive deep into Uber Eats data to find the highest rated restuarants')
    print('2. Dissect restaurant menus, pricing strategies and decode rating to enhance restaurant performance')
    print('3. Create a tailor-made roadmap for each restaurant to conquer their market positioning according to their regions')
    print('4. Categorize restaurants into three distinct price tiers based on their mean price')
    print('5. Uncover compelling trends and patterns that have the power to reshape the culinary landscape')
    print('')

    print('')
    print('Our Ultimate goal is to provide actionable recommendation that will empower restaurants to rewrite their playbooks, redefine strateigies and maximize their presence on the Uber Eats Platform')
    print('This project is about to leverage the full potential of resturants and help them thrive in the world of food delivery!')
    print('Together we are going to assist our clients in achieving their goals')

data_driven_restaurant_revolution()

Welcome to the Restaurant Analysis!
We are on a mission to boost restaurants success by diving deep into their data!
We are about to unearth the secrets of restaurants success
We wont stop here! We are going to uncover the secrets of customer preferences within the food industry!
This project is like a treasure hunt through the Uber Eats Data, we are equipped with the sharpest tools to extract valuable insights


Analysis plan:
1. Dive deep into Uber Eats data to find the highest rated restuarants
2. Dissect restaurant menus, pricing strategies and decode rating to enhance restaurant performance
3. Create a tailor-made roadmap for each restaurant to conquer their market positioning according to their regions
4. Categorize restaurants into three distinct price tiers based on their mean price
5. Uncover compelling trends and patterns that have the power to reshape the culinary landscape


Our Ultimate goal is to provide actionable recommendation that will empower restaurants to rewrite their playbooks, redefine strateigies and maximize their presence on the Uber Eats Platform
This project is about to leverage the full potential of resturants and help them thrive in the world of food delivery!
Together we are going to assist our clients in achieving their goals

## 4. Why is this problem important?

Uber Eats, an online food ordering platform, experienced a significant transaction surge, reaching USD11 billion in 2022, reflecting a remarkable 31% increase from the $8.3 billion revenue generated in 2021. Concurrently, user numbers show steady growth at 2%, and merchant participation in the US has notably increased by 10%. These trends underscore the platform's growing favor among both customers and merchants.

In light of the escalating trend in online food ordering, restaurants must devise effective digital strategies to maximize the potential of this platform, enhance their revenue streams, and increase profit margins.

Understanding customer preferences within various regions is critical to crafting these strategies effectively—ranging from preferred cuisines to menu diversity. Thus, the question arises: how can restaurants delve into customer preferences across different dimensions, gathering pertinent insights to formulate strategies to maximize their potential?

# 5. Data Source
_____________________________________________________________

Sources – https://www.ubereats.com

Owner – Ahmed Shahriar Sakib

Link -  https://www.kaggle.com/datasets/ahmedshahriarsakib/uber-eats-usa-restaurants-menus

# 6. Summary Report
________________________________________________________________________________

Our analysis of Uber Eats data is focused on extracting valuable insights into customer preferences within the food industry.

Some of the key findings from our analysis
1. Dominance of American Cuisine: American cuisine restaurants compose the majority of food categories across all regions in the United States.
2. Top-Rated Categories: Asian, Mediterranean, Japanese, and Asian Fusion cuisines received the highest scores.
3. Pricing Trends: Restaurants with average-priced menus dominate across all regions.
4. High-End Restaurant Offerings: High-end restaurants offer a more extensive variety of dishes than other price categories.
5. Customer Feedback: Customers are more inclined to provide reviews for restaurants with an average price of $20 or less.

Based on our analysis, we have several recommendations for our customers:
1. Diversify your restaurants' category: To distinguish yourself, consider offering different cuisines besides American food. This can attract a more diverse customer base and expand market reach since American cuisine is close to market saturation.
2. Pricing Strategies: Given that average-priced restaurants dominate the market, our customers can experiment with creating more cost-effective restaurants or a high-end dining experience based on the region where they intend to establish their restaurant.
3. Chain Restaurant Success: If our customers aim to achieve a high amount of reviews and scores, then opening a chain restaurant may be the wisest decision. Our analysis indicates that chain restaurants perform well in these aspects.
4. Menu Variety: To stand out, if the intent is to create a more attractive restaurant to customers, our merchants can consider offering a broader range of dishes on their menus.
5. Pricing Considerations: We recommend that our clients price their restaurant items in alignment with local market rates or slightly below. Pricing significantly influences customer demand, and offering items at a lower cost than competitors could be an effective strategy for attracting a more extensive customer base.

In conclusion, our analysis provides essential insights into customer preferences and biases within the Uber Eats App. By following these recommendations, our clients can make informed decisions to succeed in the food industry.

# 7. Exploratory Phase
_____________________________________________________________

## 7.1 Pre Data Cleaning
As the first part of our exploratory phase, we imported necessary projects and loaded both of our datasets. Then we explored the data using summary tools to get a better understanding of it.

In [ ]:
# Importing necessary Packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
import statsmodels.formula.api as smf
import statsmodels.api as sm
!pip install plotly_express -q
import plotly_express as px

In [ ]:
# Mounting google drive
from google.colab import drive
drive.mount('/content/gdrive', force_remount = True)

Mounted at /content/gdrive

In [ ]:
rest = pd.read_csv('/content/gdrive/MyDrive/BA780-A02/restaurants.csv')
menus = pd.read_csv('/content/gdrive/MyDrive/BA780-A02/restaurant-menus.csv')

In [ ]:
rest.info()

In [ ]:
rest.describe()

In [ ]:
menus.info()

### Merging the Dataframe

Initially, we merged the two data frames by their shared variable, 'id' in the rest dataset and 'restaurant_ID' in the menus dataset. We encountered difficulty during this process; this data challenge was that many restaurants on the original CSV were missing in the menus dataset. That is why, after this merge, we eliminated all the null values from the restaurant_id column.

In [ ]:
display(rest.head(3), menus.head(3))

In [ ]:
# Merging the restaurant dataset with the menu dataset
restaurants=rest.merge(menus, left_on='id', right_on='restaurant_id', how="outer")

In [ ]:
restaurants.head(3)

## 7.2 Data Cleaning
For our analysis, initially, we remove the columns that aren't necessary for our idealized outcomes. These include eliminating columns such as latitude, longitude, the duplicated restaurant id, the description of the food items from the menu, the repeated name of restaurants column, the duplicated category column, and finally, the price range column.

In [ ]:
# Weeding out the null values in the restaurant id column & keeping the non-null values
restaurants=restaurants[~restaurants['restaurant_id'].isnull()]
restaurants.isna().sum()

In [ ]:
# Dropping the columns that are not relevant to the analysis
cols_to_drop=['lat', 'lng', 'restaurant_id', 'description', 'name_y', 'category_y', 'price_range']
restaurants=restaurants.drop(cols_to_drop, axis=1)
# Renaming the column names
restaurants.columns=['id', 'position', 'name', 'score', 'ratings', 'category_of_restaurant', 'address', 'zip_code', 'price_of_item']
# Renaming the 'ratings' column to reviews
restaurants.rename(columns = {'ratings':'reviews'}, inplace=True)

## Removing Unwanted Characters
The following snippets of codes facilitate the removal of unwanted characters from each column. Initially, we eliminated the empty spaces and the 'USD' currency symbol from the price column. This step enables us to create an aggregate function that computes the mean price of items per restaurant. Consequently, we removed the unwanted characters in the name column of the restaurants since all the restaurants that contained an '&' symbol also included a ';'. Then, we eliminated the presence of duplicate restaurants with varying prices, which depicted the cost of their distinct menu offerings.

In [ ]:
# Removing the USD from the price of item column
restaurants['price_of_item'] = restaurants['price_of_item'].str.strip(' USD')

In [ ]:
# Converting the prices into a float type
restaurants['price_of_item'] = restaurants['price_of_item'].astype(float)
# Grouping by restaurant id to find the mean prices for each restaurant
mean_prices = restaurants.groupby('id')['price_of_item'].mean().reset_index()
mean_prices['price_of_item'] = mean_prices['price_of_item'].round(2)
# Merging mean prices back into dataframe
restaurants = pd.merge(restaurants, mean_prices, on ='id', suffixes = ('','_mean'))
# Renaming the the price of item column to mean price per item
restaurants.rename(columns = {'mean_price_of_item':'price_of_item'}, inplace = True)
# Dropping the price_of_item column
restaurants.drop('price_of_item', axis = 1, inplace = True)
restaurants.head(3)

In [ ]:
# Cleaning Restaurants names since the ones that posses a '&' included an amp that wasnt part of the name
restaurants['name'] = restaurants['name'].str.replace('amp', '').str.replace(';', '')

In [ ]:
# Dropping duplicates produced from the initial merge of the dataset
restaurants = restaurants.drop_duplicates()
# Setting restaurant id as the index
restaurants.set_index('id', inplace=True)

## Enhancing Data Organization
The provided codes begin by organizing all 50 United States into a dictionary that categorizes them by region. Subsequently, we convert the address column into a string to extract the states from the full address. As a result, we can create two new columns indicating which states and regions each restaurant is located.

In [ ]:
# Creating a dictionary with all the states and their unique regions in the US

state_to_region = {
    'PA' : 'northeast_region',
    'MD' : 'northeast_region',
    'DE' : 'northeast_region',
    'NJ' : 'northeast_region',
    'NY' : 'northeast_region',
    'CT' : 'northeast_region',
    'RI' : 'northeast_region',
    'MA' : 'northeast_region',
    'NH' : 'northeast_region',
    'VT' : 'northeast_region',
    'ME' : 'northeast_region',
    'FL' : 'southeast_region',
    'GA' : 'southeast_region',
    'AL' : 'southeast_region',
    'MS' : 'southeast_region',
    'LA' : 'southeast_region',
    'AR' : 'southeast_region',
    'TN' : 'southeast_region',
    'KY' : 'southeast_region',
    'WV' : 'southeast_region',
    'VA' : 'southeast_region',
    'NC' : 'southeast_region',
    'SC' : 'southeast_region',
    'TX' : 'southwest_region',
    'OK' : 'southwest_region',
    'NM' : 'southwest_region',
    'AZ' : 'southwest_region',
    'AK' : 'west_region',
    'HI' : 'west_region',
    'CA' : 'west_region',
    'NV' : 'west_region',
    'UT' : 'west_region',
    'CO' : 'west_region',
    'WY' : 'west_region',
    'MT' : 'west_region',
    'ID' : 'west_region',
    'OR' : 'west_region',
    'WA' : 'west_region',
    'ND' : 'midwest_region',
    'MN' : 'midwest_region',
    'WI' : 'midwest_region',
    'MI' : 'midwest_region',
    'OH' : 'midwest_region',
    'IN' : 'midwest_region',
    'IL' : 'midwest_region',
    'IA' : 'midwest_region',
    'SD' : 'midwest_region',
    'NE' : 'midwest_region',
    'KS' : 'midwest_region',
    'MO' : 'midwest_region',
}

Resources:
Utilized mappr.co to find all redefine the 5 regions in the USA.

https://www.mappr.co/political-maps/us-regions-map/

Finally, listed all 50 states and created a dictionary with their abbreviations and the region to which they are classified.

In [ ]:
# Changing the full_address column to a string type
restaurants['address'] = restaurants['address'].astype(str)

In [ ]:
def extract_state(address):
    # Regular expression pattern to extract state abbreviations
    state_pattern = r'\b([A-Z]{2})\b'
    match = re.search(state_pattern, address)   #Obtains two capital letters placed next to eachother on the address column
    if match:
        state = match.group(1)
        # Check if the extracted state is in the mapping
        if state in state_to_region:
            return state
    return None

# Function to map states to regions
def map_state_to_region(state):
    return state_to_region.get(state, 'other_region')  # Returns 'other_region' if state is not found

Resources:

Used ChatGPT to extract the states from the full_address column.
Prompt: how do I extract state abbreviation from a column with the full_address of places.
The code extracts two uppercase letters placed together in the full_address column, and matches it with the dictionary map_state_to_region. If the math.group(1) code finds no match in the dictionary, it returns as it as 'None' the extract_state function is applied to all the rows in full_address using the apply function.
Finally, we utilized the apply function to create a new column for state and region from the code.

In [ ]:
# Apply the extract_state function to create a 'state' and 'region' column
restaurants['state'] = restaurants['address'].apply(extract_state)

restaurants['region'] = restaurants['state'].apply(map_state_to_region)

# Display the unique values in the state column
print(restaurants['state'].unique())

In [ ]:
# Obtaining only the resturants whose states are not Classified under None
restaurants = restaurants[restaurants['state'].notna()]

## Handling Missing Values and Creating Target Variables
There are 22414 missing values for both scores and reviews in the dataset. Additionally, there are 46 missing values in the category column and 28 in the zip code column.

To address these missing values, we initially removed all the missing entries in the reviews and score columns. Subsequently, we filter the dataset to display only restaurants with more than 50 reviews. Finally, we create a groupby function to create an aggregate function that counts the number of dishes each restaurant offers and merge the new column into our dataset. Additionally, we utilize another groupby function to determine the count of restaurants per state in our dataset.

In [ ]:
restaurants.isna().sum()

In [ ]:
# Dropping Null values from the ratings column
restaurants.dropna(subset = ['reviews'], inplace = True)

In [ ]:
#Understanding the reviews column in depth
print(restaurants['reviews'].max())
print(restaurants['reviews'].min())

In [ ]:
# Filtering for restaurants that have more than 50 ratings
restaurants = restaurants[restaurants['reviews'] >= 50]

In [ ]:
# Dropping Null Values from the score column
restaurants.dropna(subset = ['score'], inplace = True)

In [ ]:
# Count the number of dishes serve by the restaurant using groupby for restaurant ID
menu = menus.groupby('restaurant_id')['name'].count()
number_of_dishes_per_restaurant = pd.DataFrame(menu).reset_index()
# Renaming the columns to id and number of dishes
number_of_dishes_per_restaurant.columns = ['id', 'number_of_dishes']
number_of_dishes_per_restaurant

In [ ]:
# Merging number of dishes variables to the table
restaurants
restaurants = restaurants.merge(number_of_dishes_per_restaurant, on = 'id')
restaurants.head(3)

In [ ]:
#Grouping by state to fint the number of resturants per state
count_of_restaurants_by_state = restaurants.groupby('state').agg({'state':'count'})
# Renaming the column to Number of Restaurants
count_of_restaurants_by_state.columns = ['number_of_restaurants']
# Sorting values in descending order
count_of_restaurants_by_state.sort_values(by='number_of_restaurants', ascending=False)

In [ ]:
#Finding the null values per variable
restaurants.isna().sum()

In [ ]:
#Understanding the new created price of item column
#Printing the lowest mean price in the price of item colum
print(restaurants['price_of_item_mean'].min())
#Printing the highest mean price in the price of item column
print(restaurants['price_of_item_mean'].max())

**Cleaning 'category_of_restaurant':**

It was essential to clean the category of restaurants in order as each restaurant currently included multiple categories. As our analysis is concerned with ethnic cuisines, we extracted all other categories and only included one category per restaurant.

In [ ]:
# Cleaning Category of restaurants

# Define a regex pattern to match culture-related words
culture_pattern = re.compile(r'\b(?:American|Mexican|Italian|Greek|Chinese|Indian|Japanese|French|Spanish|Latin American|Mediterranean|Cuban|Caribbean|Middle Eastern|Cantonese|Asian Fusion|Asian|Black-owned|Soul Food)\b', re.IGNORECASE)
# Function to extract and replace culture in the 'category_of_restaurant' column
def extract_and_replace_culture(row):
    matches = culture_pattern.findall(str(row['category_of_restaurant']))
    return ', '.join(matches)
# Apply the function to modify the 'category_of_restaurant' column in place
restaurants['category_of_restaurant'] = restaurants.apply(extract_and_replace_culture, axis=1)
# We see that some columns have multiple cultures, we remove everything after the first comma in the 'category' column
restaurants['category_of_restaurant'] = restaurants['category_of_restaurant'].str.split(',').str[0]
# Replace blank values in 'category_of_restaurant' to null values
restaurants.replace('', np.nan, inplace = True)
# #Dropping null values from the 'category_of_restaurant' column
restaurants.dropna(subset =['category_of_restaurant'], inplace = True)

**Resource**

Used ChatGPT to find the most common cultures in the data set.

Prompt: I have an unclean Uber Eats data set where every row is a different restaurant. There is a column called 'category' which contains all the different food categories under that restaurant for example: (provided a copy pasted list of the category column). Please extract the cultures from this column using Python and preferably regex. For clarification, the category column was imported as an object.

**Cleaning price column**:

A new column named 'price_category' was introduced to categorize restaurants based on their price ranges, given the prevalence of missing values in the original 'price_range' column. The price range was calculated using 'price_of_item_mean,' excluding outliers and setting the lower bound as the minimum value and the upper bound 1.5 times the interquartile range above the upper quartile. Restaurants with prices falling within the first 1/3 of the price range were classified as 'cheap_prices,' those within the last 1/3 as 'high-end_prices,' and the remainder as 'average_prices.' This method allows for more precise restaurant categorization based on average item prices.

In [ ]:
# Creating a categorical column based on the mean price of item per restaurant (category labels = cheap_prices, average_prices, high-end_prices)
# Check for the Interquartile range
iqr = (restaurants['price_of_item_mean'].quantile(q=0.75) - restaurants['price_of_item_mean'].quantile(q=0.25))*1.5
#Divide the price of item mean range into 3 portion for categorisations
#Sum up upper quatile and 1.5*interquatile range to exclude the extreme value and create upper bound.
#Minus the upper bound by the minimum value and divided it by 3 to divide the range into 3 equal portion.
interval  = (restaurants['price_of_item_mean'].quantile(q=0.75)+iqr-restaurants['price_of_item_mean'].min())/3
#low_p set the price at first 1/3 of the range
low_p = restaurants['price_of_item_mean'].min()+interval
#high_p is set the price at 2/3 of the range
high_p = low_p + interval
# Create a list of our conditions. This was based on items that were less than or equal low_p, between low_p and upper_p percentile, and greater than or equal to the high_p percentile
price_conditions = [
    (restaurants['price_of_item_mean'] <= low_p),
    (restaurants['price_of_item_mean'] > low_p) & (restaurants['price_of_item_mean'] < high_p),
    (restaurants['price_of_item_mean'] >=high_p)
    ]

# Create a list of the values we want to assign for each condition
price_values = ['cheap_prices', 'average_prices', 'high_end_prices']

# Create a new column and use np.select to assign values to it using our lists as arguments
restaurants['price_category'] = np.select(price_conditions, price_values)

In [ ]:
restaurants

In [ ]:
restaurants.set_index('id')
restaurants =restaurants.drop(columns=['zip_code','address'])

## 7.3 Correlation Matrix

In [ ]:
#Correlation Matrix
corr_matrix = restaurants.corr()
sns.heatmap(corr_matrix, annot=True, cmap='YlGnBu')
plt.show();

In [ ]:
#Pair plot
sns.set_palette("Paired")
sns.set_context("paper", font_scale=1)
scm = pd.plotting.scatter_matrix(restaurants, alpha=0.2,figsize=(12,12), grid = False)
#Change label rotation
[s.xaxis.label.set_rotation(45) for s in scm.reshape(-1)]
[s.yaxis.label.set_rotation(90) for s in scm.reshape(-1)]

#May need to offset label when rotating to prevent overlap of figure
[s.get_yaxis().set_label_coords(-0.3,0.5) for s in scm.reshape(-1)]
# sns.pairplot(red_wine.iloc[:,2:6],kind='reg') #Another function of scatterplot matrix with regression line
plt.show()

What are the factors that affect restaurant score?
- After conducting a thorough analysis and generating a correlation matrix using the variables in our restaurant dataset, it becomes evident that none of the variables exhibit a strong correlation with restaurant scores. Consequently, these variables do not exert a significant influence on restaurant scores. Additional data would need to be collected to conduct a more comprehensive analysis for accurately evaluating and predicting Uber Eats scores. However, our team still aims to provide actionable recommendations unrelated to score prediction.

# 8. Visualizations
_____________________________________________________________

In [ ]:
# Number of restaurants per top ten categories
# subsetting for top ten categories with the most restaurants
restaurants.groupby('category_of_restaurant')['name'].count().sort_values(ascending=False)
restaurant_category = ['American', 'Mexican', 'Asian', 'Italian', 'Chinese', 'Japanese', 'Indian', 'Mediterranean', 'Asian Fusion', 'Black-owned']
top_ten_category = restaurants[restaurants['category_of_restaurant'].isin(restaurant_category)]
# creating bar chart
sns.countplot(x='category_of_restaurant', data = top_ten_category, order = top_ten_category['category_of_restaurant'].value_counts().index).set(title='Number of Restaurants by Category', xlabel='Category', ylabel='Number of Restaurants')
plt.xticks(rotation=90)
plt.show()

Which category of the restaurants are most in Number?

- Restaurant categories vary significantly by region. According to our analysis, American cuisine is the most popular type of restaurant in the United States. We can observe this from our visualization, which presents the top 10 most common food categories according to our data. The visualization titled 'Number of different categories of restaurants in different regions; depicts how, throughout all the regions in the United States, the leading restaurant category is American Cuisine.

In [ ]:
# Scores per category box plot
sns.catplot(x='category_of_restaurant', y='score', data=top_ten_category, kind='box', sym='').set(title='Distribution of Scores by Category', xlabel='Category', ylabel='Score')
plt.xticks(rotation=90)
plt.show()

Which category of the restaurant has received the highest score?
- Restaurants in the Uber Eats App are rated on a scale of 1-5 according to their menu quality. According to our analysis, the categories with the highest mean scores were Asian, Mediterranean, Japanese, and Asian fusion. In our visualization titled "Distribution of Scores by Category," we can predict which restaurants need the most help to maximize their scores. These restaurants include the ones whose specialties are American Cuisine and Indian Cuisine.

In [ ]:
# Filtering restaurants with scores higher than 4.5
restaurants_filtered_score = restaurants[restaurants['score'] >= 4.5]
restaurants_filtered_score.sort_values(by='score', ascending=False, inplace=True)

# Grouping categories of restaurants and scores
category_reviews_ratings = restaurants_filtered_score.groupby('category_of_restaurant').agg({'score': 'count'}).reset_index()

# Sort the data by 'score' in descending order
category_reviews_ratings.sort_values(by='score', ascending=False, inplace=True)

ax = sns.barplot(data=category_reviews_ratings, x='category_of_restaurant', y='score')
plt.xticks(rotation=90)
plt.title('Distribution of High-Rated Restaurants by Category')
plt.ylabel('Number of restaurants according to score');

What are the top three restaurant categories with the most high-rated restaurants?
- Considering the predominant presence of American cuisine in the dataset, it is unsurprising that it ranks the highest compared to other food categories. Excluding American cuisine, the top three categories are Mexican, Asian, and Japanese cuisine. It is necessary to note that the comparison between food categories may not be entirely accurate due to the bias in our dataset.

In [ ]:
price_dishes = restaurants.groupby('price_category')['number_of_dishes'].mean().reset_index()
print(price_dishes)
print('')
plt.figure(figsize=(8,8))
sns.barplot(x='price_category', y='number_of_dishes', data = price_dishes, palette='hls')
plt.title('Average Number of Dishes by Price Category');

Do different price categories for restaurants influence the amount of dishes they offer?
- The bar chart depicts that high-end restaurants offer the greatest variety of dishes. On average, 'cheap+prices' restaurants provide approximately 93 dishes, 'average_prices' restaurants offer an average of 94 dishes, while 'high_end_prices' restaurants provide an average of 98 dishes on their menus to ensure they can satisfy all of their customers' cravings.

In [ ]:
# Distribution of different price category of restaurants in each region
cat_order = ['cheap_prices', 'average_prices', 'high_end_prices']
region_price = sns.catplot(x = 'price_category', data = restaurants, kind = 'count',col = 'region', order = cat_order)
region_price.fig.suptitle("Number of price category restaurants in each region", y=1.03)

How are the prices spread across the different regions?
- By categorizing the price range of restaurants into cheap, average, and high-end prices, we can observe the menu pricing difference between regions. All regions have the most amount of average-priced restaurants. Taking a closer look at the quantity difference between the three price ranges, it is clear that the southwest region has a more extreme distribution centered toward the average price range. Restaurants can use this more precise market segmentation to create pricing strategies, such as below-average pricing, to stand out.

    The north-east regions have more high-end priced restaurants than cheap ones. This observation indicates that more customers in this region are willing to accept paying a higher price for food delivery.

The chart represents various price categories across different regions in the USA.

1. Cheap Prices Category: This category encompasses restaurants with prices below or equal to $7.64.

2. Average Prices Category: These restaurants have prices between $7.64 - 14.29.

3. High-End Prices Category: This category includes restaurants with prices above or equal to $14.29.

The data reveals that the 'Average Prices Category' restaurants dominate all regions.

In [ ]:
# Average Price by State and Region

# Group the data by both 'region' and 'state' and calculate the mean price
avg_price_by_state_region = restaurants.groupby(['region', 'state'])['price_of_item_mean'].mean().reset_index()

# Bar chart
sns.barplot(data=avg_price_by_state_region, x='state', y='price_of_item_mean', hue='region')
plt.title('Average Price by State and Region', fontsize=16)
plt.xlabel('State', fontsize=12)
plt.ylabel('Average Price',  fontsize=12)
plt.legend(loc='upper right')
plt.show()

What is the average price of an item per state? How can this help our client determine how to price its items?

- Our dataset, along with the bar plot, reveals that, on average, the restaurants in the southwest region tend to have higher prices, with Louisiana (LA) having the most expensive items in our dataset. Conversely, the Midwest shows the lowest average prices, with Ohio (OH) having the least expensive items on average.

- Based on this data, we recommend that our client consider pricing their restaurant items similarly to those in their respective states or slightly lower. Pricing plays a significant role in determining customer demand, and offering items at a lower cost than other restaurants in the area is an effective strategy for attracting a more extensive customer base.

- For example, if opening a restaurant in Lousianna, we recommend the average price of an item to be around $15 or less.

In [ ]:
# KDE of the top ten restaurant categories with the most number of eateries

sns.kdeplot(data=top_ten_category, x="price_of_item_mean", hue="category_of_restaurant")
plt.xticks(ticks=[0, 10, 20, 30, 40, 50, 60, 70, 80], labels=['0', '$10', '$20', '$30', '$40', '$50', '$60', '$70', '$80'])
plt.title("KDE of Average Menu Item Price")
plt.show()

How are the menu items priced across different restaurant categories?

- By examining the KDE of the average price per menu item between the top ten restaurant categories with the most number of eateries, we aim to provide a general pricing strategy for merchants. Our analysis shows that most categories' average item price is around 10 dollars, with Mexican restaurants being the only exception. For example, most merchants should price their items between 10 to 20 dollars, while Mexican restaurants should price items lower than 10 dollars.

In [ ]:
state = restaurants[restaurants['state'] == 'TX']
state.groupby('price_category').count()

In [ ]:
#Diversity of cuisine in different restaurant categories
import plotly.express as px

group_rest = restaurants.groupby(['category_of_restaurant', 'region']).agg({
    'number_of_dishes': 'mean', 'price_of_item_mean': 'mean', 'score': 'mean', 'reviews': 'mean'
    }).round(1).reset_index()
group_rest_sorted = group_rest.sort_values(by='number_of_dishes', ascending=False)
category_order = group_rest.groupby('category_of_restaurant')['number_of_dishes'].sum().sort_values(ascending=False).index

fig = px.bar(group_rest_sorted, x="category_of_restaurant", y="number_of_dishes" ,category_orders={"category_of_restaurant": category_order}, color="region", title="Total Average Number of Dishes by Restaurant Category",
             hover_data={'price_of_item_mean', 'score', 'reviews'})
fig.show()

What is the optimal number of menu items for different restaurant categories?

- The breakdown of the number of dishes per restaurant category and region shows that Chinese cuisine has the most diverse menu on UberEats, followed by Japanese and Cantonese. Contrarily, Spanish, Cuban, and Soul Food restaurants have the least variety of menu items. For new restaurant owners joining Uber Eats, this analysis can be utilized to find the number of items they can provide to be competitive and more appealing to customers. For instance, Chinese restaurant owners in the south-east and north-east regions should offer more than 150 items (including different item sizes) to compete with the current landscape. This approach allows merchants to optimize menu offerings by matching or exceeding existing restaurants’ menu variety.

**Resource**


Plotly bar chart documentation: https://plotly.com/python/bar-charts/

In [ ]:
# Grouping by restaurant id to find the restaurants with the highest score and amount of reviews
restaurant_reviews_ratings = restaurants.groupby('id').agg({'score':'mean', 'reviews':'sum','name':'first'}).reset_index()

# Filtering for the top 5 restaurants
top_5_reviews_restaurants = restaurant_reviews_ratings.nlargest(5,'reviews')
top_5_reviews_restaurants.sort_values('score',ascending = False, inplace=True)

# Creating the barplot
ax = sns.barplot(data=top_5_reviews_restaurants, x='name', y='score', palette='hls')

# Setting the labels
ax.set_xlabel('Restaurant Name')
plt.xticks(rotation=90)
ax.set_ylabel('Average Pricing')
plt.title('Top 5 Restaurants with Highest Reviews and Ratings');

print(top_5_reviews_restaurants)
print('')

What is the minimum number of reviews required for a restaurant to achieve one of the highest ratings on the Uber Eats app?

- The bar chart above illustrates the leading five restaurants in the Uber Eats App: Bethesda Bagels, two different Taco Bambas, Chick-fil-A, and P.F. Chang's.

    These restaurants have 500 reviews each, establishing their reliability as trusted options Uber Eats recommends. Finally, Bethesda Bagels stands out as the highest-rated restaurant, with a score of 4.9.

In [ ]:
#Filtering the restaurants that are positioned 1st, 2nd, and 3rd, respectively on Uber Eats app
r1=restaurants[restaurants['position']==1]
r2=restaurants[restaurants['position']==2]
r3=restaurants[restaurants['position']==3]

#Defining a function to group dataset according to the categories and then plucking out the values & indexes.
plt.style.use('ggplot')
def func (R):
  y1=R.groupby('category_of_restaurant')['name'].count().sort_values(ascending=False)
  y2=y1.values
  x2=y1.index
  size=y2*5
  return (x2,y2,size)
vals1= func(r1)
vals2= func(r2)
vals3= func(r3)
plt.scatter(x=vals1[0],y=vals1[1],s=vals1[2],label='Restaurants positioned 1',alpha=0.7)
plt.scatter(x=vals2[0],y=vals2[1],s=vals2[2],label='Restaurants positioned 2',alpha=0.7)
plt.scatter(x=vals3[0],y=vals3[1],s=vals3[2],label='Restaurants positioned 3',alpha=0.7)
plt.tick_params(axis='x', rotation=90)
plt.ylim(0, 160)
plt.xlabel("Category",fontsize=13)
plt.ylabel("Number of restaurants",fontsize=13)
plt.title("Relation between the number of restaurants and their positions on Uber Eats",fontsize=10)
plt.legend()
plt.show()

Which category of restaurant has the maximum number of restaurants that are positioned 1st, 2nd and 3rd on the app?

- The chart above illustrates the distribution of restaurant categories in the 1st, 2nd, and 3rd positions on the app. Notably, the American restaurant category boasts the largest presence among the top three positions on the app.

In [ ]:
#Finding the relation between the mean price range of a restaurant and the number of reviews
fig = px.scatter(restaurants, x="price_of_item_mean", y="reviews", color="price_of_item_mean", color_continuous_scale='Viridis')
fig.show()

Does a restaurant's price range affect the customer's tendency to give a review?


- The scatter plot illustrates our customer base's dining preferences, shedding light on their dining habits. Notably, restaurants with an average price range of around $20 tend to garner a higher volume of reviews, while a decline in review frequency is evident as the price range increases. This inclination might stem from their desire for a personal dining experience, where they can savor the ambiance and luxury that these high-end establishments offer. For such customers, visiting a restaurant in person adds an extra layer of enjoyment, enhancing the overall dining experience. Hence, this insight enables us to make informed decisions to cater better to our customer base and adapt our offerings to their preferences.

Resources: Plotly website document on Choropleth Maps in Python https://plotly.com/python/choropleth-maps/

Where are our restaurants located?
- Utilizing the Chloropleth Map visualization. We can observe how the differences in colors represent the number of restaurants in a specific location. By hovering through each colored area, we obtain the number of restaurants in the particular region. Texas is one of the states with the most restaurants, followed by Virginia.

In [ ]:
#Diversity of cuisine in different states
diversity = restaurants.groupby('state')['category_of_restaurant'].nunique()
df = pd.DataFrame(diversity).reset_index().sort_values(by = 'category_of_restaurant', ascending = False)
sns.set_context('paper')
sns.set_palette("YlGnBu", 20)
diversity = sns.catplot(x='state', y='category_of_restaurant', data=df, kind="bar")
diversity.set_ylabels("Number of restaurants' categories")
diversity.set(ylim=(0, None))
diversity.fig.suptitle("Number of restaurants'categories in different states", y=1.03)
plt.xticks(rotation=90)
plt.show()

How diverse is the culinary landscape across various states?

- We assess this diversity by examining the variety of restaurant categories present in each state. Our analysis of available data reveals that Texas, Maryland, and Virginia showcase the broadest range of cuisine types within their respective borders. Conversely, states like Wisconsin and Utah demonstrate a more limited variety of culinary offerings. For entrepreneurs contemplating business expansion into new states, targeting those with a narrower range of cuisines presents an opportunity to introduce fresh food options and captivate an untapped market.

- For instance, from the chart, Minnesota has much fewer types of cuisine than other states. Then, we can zoom in to see what kind of cuisine was provided in the state using the heatmap below. This enables us to identify the gaps in available cuisine and give corresponding recommendations on the types of cuisine that new merchants should consider serving. This strategic approach enables merchants to gain a more significant market share by providing innovative offerings while minimizing competition with existing eateries.

In [ ]:
# Count Restaurant Categories by Location

# Create a pivot table with counts of restaurant categories by location
heatmap_data = restaurants.pivot_table(index='state', columns='category_of_restaurant', aggfunc='size', fill_value=0)

# Create a heatmap
plt.figure(figsize=(12, 10))
sns.heatmap(heatmap_data, cmap='viridis', annot=True, fmt='d', linewidths=.5)
plt.title('Restaurant Categories by Location', fontsize=20)
plt.xlabel("Category", fontsize=12)
plt.ylabel("State", fontsize=12)
plt.show()

What category of restaurants are most concentrated in each state?

*   Our analysis and the heatmap reveal that American cuisine dominates the Uber Eats platform across all states. However, the prevalence of other restaurant categories varies significantly from state to state.

*   Therefore, our recommendation for a client depends on their desired location for opening a restaurant. In essence, we advise someone to select a restaurant category with relatively few competitors in their chosen state. This approach enhances their chances of successfully entering the market and creating a unique restaurant compared to others in the area.

*   For example, if a client intends to open a restaurant in Maryland, our dataset shows a reasonable number of restaurants operating in the area but having fewer types of cuisine than some of the other states. In this case, we recommend a Cuban, Cantonese, Soul Food, or Spanish restaurant, as these categories appear to have little to no competitors in Maryland, providing a favorable opportunity for differentiation and success.

# 9. Summary of key observations
________________________________________________________________________________

In our analysis, we initially observed a minimal correlation between the variables, signifying a weak relationship among them. Consequently, we placed a greater emphasis on descriptive analysis to present trends and characteristics of the data.

- The dataset primarily focuses on restaurant data from Texas and Virginia. Among the prevalent restaurant categories in this dataset, American cuisine takes the lead, followed by Mexican and Asian cuisines.

- In our exploration of customer preferences within these restaurant categories, we conducted a comprehensive analysis of rating distributions. Notably, categories such as Asian, Mediterranean, Japanese, and Asian fusion exhibit the highest mean scores in ratings.

- Additionally, we identified the top 5 restaurants with the highest ratings on the Uber Eats App: Bethesda Bagels, Taco Bambas with branches in Springfield and Arlington, Chick-fil-A, and P.F. Chang's. Each of these establishments boasts an impressive 500 reviews.

- Regarding restaurant position on the search result page, the American category holds the highest number of restaurants across the first three positions, followed by Mexican and Asian restaurants. American restaurants also dominate the highest-rated restaurants. Excluding American cuisine, the top three categories are Mexican, Asian, and Japanese cuisine.

- Shifting our focus to pricing, we discovered that restaurants across different regions and states generally fall into average-priced establishments. Most regions have a more significant number of low-priced restaurants, except for the Northeast region.

- In terms of the average price of an item per state, prices tend to be highest in the southwest region and lowest in the Midwest region. Specifically, Louisiana and Ohio have the highest and lowest mean prices, respectively.

- Analyzing the average price per menu item for various restaurant categories, we found that most categories price their items within the range of 10 to 20 dollars. Mexican restaurants, however, typically price their items below 10 dollars.

- Moreover, we observed that there is typically a higher number of reviews when the price range of restaurants is around $20. Beyond this price point, there is a decreasing trend in the number of reviews.

- When examining the number of dishes per restaurant category and region, Chinese cuisine stands out for serving the most dishes and having the most diversified menu on Uber Eats. For example, Chinese restaurants in the southeast and northeast regions offer a wide array of dishes, with more than 150 items on their menus. On the contrary, Spanish, Cuban, and Soul Food restaurants have a more limited variety of menu items.

- Lastly, regarding the diversity and concentration of cuisines in each state, Texas, Maryland, and Virginia boast a wide variety of cuisines within their borders. Conversely, states like Wisconsin and Utah demonstrate a more limited variety of culinary offerings. The prevalence of American-style restaurants remains consistent across all states, while Texas notably hosts a significantly higher number of Mexican restaurants compared to other states.

# 10. Challenges and Limitation of our Dataset
_____________________________________________________________

We encountered significant challenges while handling the datasets, resulting in notable biases. These challenges primarily revolved around two aspects. Firstly, data cleaning presented a major hurdle. Given that the data was scraped from the web, approximately 45% of the entries in the restaurant file, encompassing scores and review counts, were missing. Imputing values for such a substantial number of missing entries was deemed inappropriate. Consequently, we made the decision to drop columns with high levels of missing data, such as the price range column from the original file. We then calculated a new price category to replace it and dropped rows with missing values. Fortunately, despite this approach resulting in some loss of information and analytical limitations, we still retained over half of the dataset. However, this process introduced biases into the remaining data, notably limited geographic coverage due to a paucity of data points in certain states and an overrepresentation of American-style restaurants in the dataset.

Another challenge during the data cleaning process was effectively transforming two columns, "full address" and "category," into usable data. Initially, our objective was to conduct regional analyses by classifying the state for each restaurant based on its zip code. However, inconsistencies between zip codes and the states listed in the full address necessitated a shift in our approach. We opted to use the "full address" column to extract state information, but this posed additional challenges due to non-standardized address formats. Fortunately, we were able to devise a method to extract valid state information from the addresses. Regarding the "category" column, discrepancies in descriptions for the same category of restaurants made standardization and classification challenging using raw data alone. Extensive online research enabled us to categorize restaurants by matching relevant descriptions into broader categories. However, this approach had limitations, particularly in accurately categorizing restaurants into specific cuisines. For instance, a steakhouse could belong to either American or another cuisine, but in our classification, it would be grouped as American. This likely contributed to the disproportionate representation of American restaurants in our dataset.

# 11. Conclusion
_____________________________________________________________

In summary, the dataset we've examined presents challenges in deriving definitive conclusions due to the lack of significant correlations between variables. However, our observations lead to several potential recommendations.

Firstly, American cuisine overwhelmingly dominates the market in most states and may be approaching saturation. To stand out, restaurants should explore alternative cuisines rather than relying solely on American fare.

Secondly, given the prevalent trend of average-priced restaurants, merchants can strategically target either end of the market based on local income levels. This targeted approach could minimize competition and bolster revenue. Merchants may also consider referencing the average price for each menu item. This allows for a more informed pricing strategy, setting prices either above or below the local average to target the high-end or low-end markets.

Thirdly, offering a diverse range of dishes is essential for attracting customers. Merchants can analyze the average number of dishes served in various types of restaurants and optimize their menu offerings accordingly. For instance, if a Mexican restaurant with a low score discovers that they serve fewer dishes than the average for all Mexican restaurants, increasing the number of dishes can enhance ratings and attract more customers.

Lastly, when merchants are deciding on the cuisine to offer in a particular state, or chain restaurants are considering expansion, assessing the diversity and concentration of cuisines in different states is valuable. Selecting states with less diverse cuisine or those with few competitors in the same cuisine category allows for strategic business expansion. This approach enables merchants to capture a larger market share by providing innovative offerings while minimizing competition with existing eateries.

# 12. References
_____________________________________________________________

“Bar.” Bar Charts in Python, plotly.com/python/bar-charts/. Accessed 16 Oct. 2023.

Batchelder, Ned, et al. “How to Remove All Characters after a Specific Character in Python?” Stack Overflow, 1 Sept. 1955, stackoverflow.com/questions/904746/how-to-remove-all-characters-after-a-specific-character-in-python.

Beckett, Emma Liem. “Uber One Subscription Is Boosting Delivery Spend, Frequency and User Loyalty for Uber Eats.” Restaurant Dive, 9 Feb. 2023, www.restaurantdive.com/news/uber-one-subscription-is-boosting-delivery-spend-frequency-and-user-loyalt/642245/#:~:text=Uber%20Eats’%20monthly%20active%20platform,10%25%20YoY%20in%20the%20U.S. Accessed 2 Oct. 2023

“Choropleth.” Choropleth Maps in Python, plotly.com/python/choropleth-maps/. Accessed 2 Oct. 2023.

Clark, Andrew, and Rahul Agarwal. “How to Do Re.Compile() with a List in Python.” Stack Overflow, 1 Nov. 1957, stackoverflow.com/questions/6750240/how-to-do-re-compile-with-a-list-in-python.

Cuofano, Gennaro. “Uber Eats Revenue.” FourWeekMBA, What is The FourWeekMBA, 19 June 2023, fourweekmba.com/uber-eats-revenue/#:~:text=In%202022%20Uber%20Eats%20reached,billion%20in%20revenue%20in%202020. Accessed 2 Oct. 2023

Custer, Charlie. “Add a Column in a Pandas DataFrame Based on an IF-Else Condition.” Dataquest, 6 Mar. 2023, www.dataquest.io/blog/tutorial-add-column-pandas-dataframe-based-on-if-else-condition/.

“NumPy, Scipy, and Pandas: Correlation with Python.” Real Python, Real Python, 2 June 2023, realpython.com/numpy-scipy-pandas-correlation-python/.

OpenAI. "GPT-3.5." OpenAI, 2021, https://www.openai.com.

“Pandas.Dataframe.Fillna.” Pandas.DataFrame.Fillna - Pandas 2.1.1 Documentation, pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html. Accessed 27 Sept. 2023.

“Pandas.Pivot_table.” Pandas.Pivot_table - Pandas 2.1.1 Documentation, pandas.pydata.org/docs/reference/api/pandas.pivot_table.html. Accessed 16 Oct. 2023.

“Pivot Table in Proper Order for the Heatmap.” Stack Overflow, 1 Feb. 1968, stackoverflow.com/questions/69968235/pivot-table-in-proper-order-for-the-heatmap.

S, Ravikiran A. “Average Function Python: How to Find Average of a List in Python: Simplilearn.” Simplilearn.Com, Simplilearn, 3 May 2023, www.simplilearn.com/tutorials/python-tutorial/find-average-of-list-in-python.

Sakib, Ahmed Shahriar. “Uber Eats USA Restaurants and Menus 🍛 🍕🍔.” Kaggle, 19 Aug. 2023, www.kaggle.com/datasets/ahmedshahriarsakib/uber-eats-usa-restaurants-menus.

“Seaborn.Heatmap.” Seaborn.Heatmap - Seaborn 0.13.0 Documentation, seaborn.pydata.org/generated/seaborn.heatmap.html. Accessed 16 Oct. 2023.

“Uber Eats: Food Delivery and Takeout: Order Online from Restaurants Near You.” Uber Eats | Food Delivery and Takeout | Order Online from Restaurants Near You, www.ubereats.com/. Accessed 2 Oct. 2023.